.tasks {
  margin-top: 20px;

  &__description {
    color: var(--dark-grey);
    margin-bottom: 20px;
  }

  &__init {
    display: flex;
    align-items: center;
    gap: 10px;

    input {
      border-radius: 8px;
      border: 1px solid var(--dark-grey);
      width: 84%;
      padding: 10px 10px;
      outline: none;
    }
  }

  &__filter {
    border: 1px solid var(--dark-grey);
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }

  .todo {
    background-color: rgba($color: #DAEAFF, $alpha: 0.4);
    border: 1px solid rgba($color: #dadcff, $alpha: 1);
  }

  .progress {
    background-color: rgba($color: #FDE68A, $alpha: 0.2);
    border: 1px solid rgba($color: #fde28a, $alpha: 1);
  }

  .done {
    background-color: rgba($color: #BBF7D0, $alpha: 0.2);
    border: 1px solid rgba($color: #bbf7be, $alpha: 1);
  }

  &__row {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 20px 10px;
  }

  &__format {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .task {
    width: 100%;
    background-color: var(--white);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    &__description {
      color: var(--dark-grey);
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }
}
