<div class="landing">
  <div class="landing__left">
    <h1 class="text-heading-1">
      Ваша универсальная платформа для обучения и повышения производительности
    </h1>

    <p class="text-body-16 landing__subtext">
      Участвуйте в интерактивных викторинах и эффективно управляйте заданиями на
      одной унифицированной платформе
    </p>

    <div class="landing__buttons">
      <app-button class="landing__button" routerLink="skills"
        >Поехали изучать</app-button
      >
    </div>
  </div>

  <div class="landing__right">
    <div class="landing__skills">
      <mat-icon
        aria-hidden="false"
        aria-label="Example bookmark icon"
        fontIcon="bookmark"
      ></mat-icon>

      <h4 class="text-heading-4">Интерактивные викторины</h4>

      <p class="landing__skills-text text text-body-12">
        Участвуйте в веселых интерактивных викторинах, чтобы проверить свои
        знания и отследить прогресс.
      </p>

      <a routerLink="/skills">Исследовать викторины</a>
    </div>

    <div class="landing__tasks">
      <mat-icon
        aria-hidden="false"
        aria-label="Example task icon"
        fontIcon="task"
      ></mat-icon>

      <h4 class="text-heading-4">Управление задачами</h4>

      <p class="landing__tasks-text text-body-12">
        Организуйте свои задачи, устанавливайте сроки и эффективно сотрудничайте
        с командой.
      </p>

      <a routerLink="/tasks">Исследовать задачи </a>
    </div>
  </div>
</div>
