.skills {
  margin-top: 20px;

  &__description {
    color: var(--dark-grey);
    margin-bottom: 20px;
  }

  &__list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
  }
}